<%= form_for(@question) do |f| %>
	<%= render 'common/form_errors', object: @question %>

	<p>
		<%= f.label :body, "Question" %><br />
		<%= f.text_field :body, class: 'search2'%>

		<%= f.submit "Ask a Question", class: 'btn btn-primary'%>
	</p>
<% end %>