

<h1>Edit Your Question</h1>

<%= form_for(@question) do |f| %>
	
	<%= render 'common/form_errors', object: @question %>

	<hr>
	<p>
		<%= f.text_field :body %>
	</p>
	<hr>
	<p>
		<%= f.label :solved %>
		<%= f.check_box :solved %>
	</p>
	<p>
		<%= f.submit "Update", class: 'btn btn-primary' %>
	</p>
<% end %>