<h1>
	<%= @question.user.username.capitalize %> asks:
</h1>

<ul>
	<li class='well'><%= @question.body %></li>
</ul>

<div id="answers">
	<h2>Answers</h2>

	<% if @question.answers.any? %>
		<ul>
			<li><%= render @question.answers %></li>
		</ul>
	<% else %>
		<p>This question has not been answered yet.</p>
	<% end %>
</div><!-- end answers -->
<hr>
<div id="post-answer">
	<h2>Answer this Question</h2>

	<% if logged_in? %>
		<%= render 'answers/answer_form' %>
	<% else %>
		<p>Please login to post an answer for this question.</p>
	<% end %>
</div><!-- end post-answer -->