<%= form_for([@question, @answer]) do |f| %>
	
	<%= render 'common/form_errors', object: @answer %>

	<p>
		<%= f.label :body, "Answer" %>
		<%= f.text_field :body, class: 'search2' %>
		<%= f.submit "Post Answer", class: 'btn btn-primary' %>
	</p>
<% end %>