dl.dl-horizontal.left {

}

dl.dl-horizontal.left dt {
    text-align: left;
    width: auto;
}
dl.dl-horizontal.left dd {
    margin-left: 120px;
    margin-bottom: 5px;
}

/*body {

    padding-left: 60px;
    padding-right: 60px;
    
    }*/

 body {
 	padding-left: 60px;
     padding-top: 60px;
     padding-bottom: 40px;
       padding-right: 60px;
 }

 .sidebar-nav {
      padding: 9px 0;
 }
 
.nav li a , .brand{
    margin-top: 10px;
}
 li form .search{
    margin-top: 20px;
 }   

.search2{
    margin-top: 10px;
 }   

li{
    list-style: none;
}