<% if object.errors.any? %>
	
		<% object.errors.full_messages.each do |message| %>
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">×</a>
			<p><%= message %></p>
			</div>
		<% end %>
		
<% end %>



