<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container-fluid">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <%= link_to 'Simple Blog', root_path, class: 'brand' %>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <% if logged_in? %>
          <li><%= link_to "Your Q's", your_questions_path %></li>
          <li><%= link_to "Logout (#{current_user.username})", logout_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to 'Register', register_path %></li>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
        	<li><%= render 'common/search_form' %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
</div>
<hr>
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
		<div id="content">
			<%= render 'shared/notifications' %>
			<%= yield %>
	</div><!-- end content -->
      </div><!--/span-->
    </div><!--/row-->



</body>
</html>
